<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rich Man's Reddit</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,500,600,700,800,900" rel="stylesheet">
  </head>
  <body ng-app="redditModule" ng-controller="redditCtrl">

      <!-- <reddit-post ng-repeat="post in posts"></reddit-post> -->
      
        <h1>Rich Woman's Reddit</h1>

      <div ng-repeat= 'post in posts'>
        <h2> {{post.data.title}} </h2>
        <h4> {{post.data.author}}</h4>
        <img ng-src="{{post.data.url}}">

      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
    <!-- <script src="factory.js"></script> -->
  </body>
</html>
